/* You can add global styles to this file, and also import other style files */

// Load Catalyst styles
$cat-font-path: '../../assets/fonts';
@import "@haiilo/catalyst/dist/catalyst/scss";

body {
  margin: 0;
  padding: 0;
}
